.Login {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #c7d6e6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  width: auto;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
  text-align: center !important;

  .error p {
    font-family: Geneva, sans-serif;
    color: red;
    box-sizing: border-box;
    font-size: 10px;
    height: 12px;
  }

  .Login-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;

    .form {
      display: flex;
      flex-direction: column;

      label {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: left;
      }

      input {
        border-radius: 0.25rem;
        font-family: Geneva, sans-serif;
      }

      .field {
        font-family: Geneva, sans-serif;
        display: flex;
        flex-direction: column;
        height: 90px;
      }

      .form-warning {
        font-family: Geneva, sans-serif;
        color: red;
        box-sizing: border-box;
        font-size: 10px;
        height: 12px;
      }
    }

    button {
      text-decoration: none;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      width: 100px;
      user-select: none;
      padding: 0.3rem 0.75rem;
      font-size: 1rem;
      border-radius: 0.25rem;
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
      margin-top: 1rem !important;
      font-weight: 600 !important;
      cursor: pointer;
    }
  }
}
