.SignUpForm {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #c7d6e6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 720px;
    text-align: center!important;

    .SignUpForm-form {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        
        label {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: left;
        }

        input {
            border-radius: .25rem;
            font-family: Geneva, sans-serif;
        }

        .field {
            font-family: Geneva, sans-serif;
            display: flex;
            flex-direction: column;
            height: 90px;
        }

        .form-warning {
            font-family: Geneva, sans-serif;
            color: red;
            margin-top: 0;
        }
    }
    

    // label {
    //     display: inline-block;
    //     text-align: center;
    //     vertical-align: middle;
    //     word-wrap: break-word;
    //     color: inherit;
    //     box-sizing: border-box;
    //     margin-top: 20px;
    //     font-weight: 500;
    //     line-height: 1.2;
    //     font-size: 1rem;
    //     margin-bottom: .75rem;
    // }

    // input {
    //     color: #495057;
    //     display: inline-block;
    //     background-color: #fff;
    //     background-clip: padding-box;
    //     border: 1px solid #ced4da;
    //     border-radius: 10rem;
    //     width: auto;
    //     padding: .25rem .6rem;
    //     vertical-align: middle;
    // }   

    button {
        // box-sizing: border-box;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        // border: 1px solid transparent;
        padding: .3rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        margin-top: 1rem!important;
        font-weight: 600!important;
        cursor: pointer;       
    }
}